extends layout

block content
    .container
        .col-2of5.bg-white.profile
            img.avatar(src=user.avatarUrl alt="avatar")
            h4=user.name
            h5=`@${user.username}`
            if (user.location)
                h4
                    i.fas.fa-map-marker-alt=user.location
            if (user.bio)
                p.center=user.bio
        include tweet